@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap');

html {
    scroll-behavior: smooth;
}

html, body{
    font-family: Lato, sans-serif;
    font-size: 10px;
    margin: 0;
    padding: 0;
}

.wrapper{
    width: 1020px;
    margin: 0 auto;
}

h1, h2, h3, ul, p, ul, li, div{
    color: white;
    margin: 0;
    padding: 0;
}

.header{
    z-index: 100;
    display: flex;
    justify-content: space-between;
    background-color: #2d303a;
    box-sizing: border-box;
    border-bottom: 6px solid #323746;
    padding: 29px 40px 24px;
    text-transform: uppercase;
}

.header__logo h1{
    font-size: 2.5rem;
    font-weight: 400;
    letter-spacing: -0.4px;
}
.header__logo a{
    text-decoration: none;
    color: white;
}

.header__logo-asterisk{
    color: red;
}

.header__navigation{
    padding-top: 6px;
}

.header__navigation__navigation li{
    display: inline-block;
    color: white;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 30px;
    margin-left: 10px;
}

.header__navigation__navigation li a{
    text-decoration: none;
    color: white;
}

.header__navigation__navigation li a:hover{
    color: #f06c64;
    cursor: pointer;
}

.header__navigation__navigation li a.active{
    color: #f06c64;
    cursor: pointer;
}

.header__navigation__navigation li::before {
    margin-right: 13px;
    content: "·"; 
    color: #494e62;
}

.header__navigation__navigation li:first-child::before {
    content: ""; 
}

/* .slider{
    height: 600px;
    box-sizing: border-box;
    border-bottom: 5px solid #ea676b;
    background-color: #f06c64;
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
}

.slider__left{
    width: 20px;
    background: url(./assets/images/icons/chev_left.svg) no-repeat 49.4% 49.4%;
}

.slider__right{
    width: 20px;
    background: url(./assets/images/icons/chev_right.svg) no-repeat 100% 49.4%;
}

.slider__left:hover{
    cursor: pointer;
    background: url(./assets/images/icons/chev_left_hover.svg) no-repeat 49.4% 49.4%;
}

.slider__right:hover{
    cursor: pointer;
    background: url(./assets/images/icons/chev_right_hover.svg) no-repeat 100% 49.4%;
}

.slider__slide{
    width: 900px;
    padding-top: 52px;
    padding-left: 50px;
    box-sizing: border-box;
} */

.slider{
    height: 600px;
    box-sizing: border-box;
    border-bottom: 5px solid #ea676b;
    position: relative;
    background-color: #f06c64;
    overflow: hidden;

    /* padding-left: 40px;
    padding-right: 40px; */
    /* display: inline-block; */
}

.slider__slides{
    display: flex;
    transition: transform 0.6s ease;
}

.slide{
    flex: 0 0 auto;
}

.slider__left{
    position: absolute;
    width: 20px;
    left: 40px;
    z-index: 11;
    height: 100%;
    background: url(./assets/images/icons/chev_left.svg) no-repeat 49.4% 49.4%;
}

.slider__right{
    position: absolute;
    width: 20px;
    right: 40px;
    top: 0;
    z-index: 11;
    height: 100%;
    background: url(./assets/images/icons/chev_right.svg) no-repeat 100% 49.4%;
}

.slider__left:hover{
    cursor: pointer;
    background: url(./assets/images/icons/chev_left_hover.svg) no-repeat 49.4% 49.4%;
}

.slider__right:hover{
    cursor: pointer;
    background: url(./assets/images/icons/chev_right_hover.svg) no-repeat 100% 49.4%;
}

.slider__slide1{
    width: 1020px;
    padding-top: 52px;
    padding-left: 110px;
    box-sizing: border-box;
    background-color: #f06c64;
}

.slide__phones__left, .slide__phones__right{
    display: inline-block;
    position: relative;
    z-index: 10;
}

.phone-one, .phone-two{
    position: relative;
    z-index: 10;
}

.slide__phones__left .shadow{
    position: absolute;
    z-index: 2;
    left: 2px;
    top: 1px;
}

.slide__phones__left__phone{
    position: absolute;
    top: 65px;
    left: 15px;
    z-index: 20;
    width: 190px;
    height: 335px;
    background: url(./assets/images/screen_yellow.png) no-repeat 3.4% 54.7%;
}

.slide__phones__left__phone.off{
    background: none;
}

.slide__phones__right{
    vertical-align: top;
    margin-left: 95px;
    margin-top: 121px;
}

.slide__phones__right .shadow{
    right: 97px;
    position: absolute;
    transform: scaleY(-1) rotate(270deg);
    z-index: 2;
    top: -121px;
}

.slide__phones__right__phone{
    position: absolute;
    top: 13px;
    left: 61px;
    z-index: 20;
    width: 335px;
    height: 190px;
    background: url(./assets/images/screen_blue.png) no-repeat 51% 30%;
}
.slide__phones__right__phone.off{
    background: none;
}

.services{
    height: 500px;
    box-sizing: border-box;
    border-bottom: 5px solid #ffffff;
    background-color: #f2f2f2;
    padding-left: 40px;
    padding-right: 40px;

}

.services h2{
    font-size: 3rem;
    font-weight: 900;
    color: #666d89;
    text-transform: capitalize;
    padding-top: 59px;
}

.services p{
    margin-top: 18px;
    font-size: 1.8rem;
    color: #767e9e;
    font-weight: 250;
    line-height: 30px;
    text-align: justify;
    overflow: hidden;
}

.services_text{
    height: 60px;
    overflow: hidden;
}

.services__bullets{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 47px;
    box-sizing: border-box;
}

.service__bullet{
    flex-basis: 32%;
    display: flex;
    margin-left: 1px;
    margin-bottom: 23px;
}

.bullet__text{
    width: 220px;
    margin-left: 21px;
    margin-top: -4px;
}
.bullet__text h3{
    font-size: 1.8rem;
    color: #666d89;
    font-weight: 900;
    text-transform: capitalize;
    letter-spacing: -0.2px;
}

.service__bullet:nth-child(3n) .bullet__text h3{
    letter-spacing: 0.01px;
    margin-left: 1px;
}

.bullet__text p{
    font-size: 1.2rem;
    margin: 8px 0;
    padding: 0;
    line-height: 22px;
    color: #767e9e;
    font-weight: 400;
    text-align: justify;
    height: 64px;
    overflow: hidden;
}

.bullet__image, .bullet__text{
    display: inline-block;
}

.service__bullet .bullet__image{
    box-sizing: border-box;
    width: 59px;
    height: 59px;
    border: 2px solid #666d89;
    border-radius: 50%;
    position: relative;
}

.service__bullet .bullet__image img{
    height: 32px;
    text-align: center;
}

.bullet__image-pen{
    background: url(./assets/images/icons/pen.svg) no-repeat 50% 50%;
}
.bullet__image-bulb{
    background: url(./assets/images/icons/bulb.svg) no-repeat 50% 50%;
}

.bullet__image-heart{
    background: url(./assets/images/icons/heart.svg) no-repeat 50% 50%;
}

.bullet__image-phone{
    background: url(./assets/images/icons/phone.svg) no-repeat 50% 50%;
}

.bullet__image-bubble{
    background: url(./assets/images/icons/bubble.svg) no-repeat 50% 50%;
}
.bullet__image-star{
    background: url(./assets/images/icons/star.svg) no-repeat 50% 50%;
}

.portfolio{
    padding: 59px 40px 47px 40px;
    background-color: #2d303a;
    box-sizing: border-box;
    border-bottom: 6px solid #323746;
}

.portfolio h2{
    font-size: 3rem;
    font-weight: 900;
    color: #666d89;
    text-transform: capitalize;
    letter-spacing: -0.01rem;
}

.portfolio p{
    margin-top: 22px;
    font-size: 1.8rem;
    color: #767e9e;
    font-weight: 250;
    text-align: justify;
}

.portfolio__tags{
    padding-top: 15px;
    padding-left: 1px;
}

.portfolio__tags ul{
    list-style-type: none;
}
.portfolio__tags ul li{
    color: #767e9e;
    font-size: 1.2rem;
    border-radius: 5px;
    border: 1px solid #666d89;
    line-height: 20px;
    display: inline-block;
    font-weight: 400;
    text-align: left;
    padding-left: 6px;
    padding-right: 5px;
    margin-right: 8px;
    box-sizing: border-box;
    letter-spacing: 0.02px;
}

.portfolio__tags ul li:hover{
    cursor: pointer;
    color: white;
    border: 1px solid white;
}

.portfolio__tags ul li.active{
    color: white;
    border: 1px solid white;
    padding-left: 7px;
    padding-right: 6px;
}

.projects{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 19px;
    height: 621px;
    overflow: hidden;
}

.projects__project{
    width: 220px;
    height: 187px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

.projects__project:hover{
    cursor: pointer;
}

.projects__project.project1{
    /* background: url(./assets/images/projects/project1.png) 45% 22% no-repeat; */
    background: url(./assets/images/projects/project1.png) 45% 22%;
}

.projects__project.project2{
    background: url(./assets/images/projects/project2.png) 57% 50%;
}

.projects__project.project3{
    background: url(./assets/images/projects/project3.png) 36% 1%;
}

.projects__project.project4{
    background: url(./assets/images/projects/project4.png) 57% 22%;
}

.projects__project.project5{
    background: url(./assets/images/projects/project5.png) 46% 18%;
}

.projects__project.project6{
    background: url(./assets/images/projects/project6.png) 41% 64%;
}

.projects__project.project7{
    background: url(./assets/images/projects/project7.png) 20% 21%;
}

.projects__project.project8{
    background: url(./assets/images/projects/project8.png) 41% 35%;
}

.projects__project.project9{
    background: url(./assets/images/projects/project9.png) 57% 22%;
}

.projects__project.project9{
    background: url(./assets/images/projects/project9.png) 46% 48%;
}

.projects__project.project10{
    background: url(./assets/images/projects/project10.png) 56% 24%;
}

.projects__project.project11{
    background: url(./assets/images/projects/project11.png) 73% 78%;
}

.projects__project.project12{
    background: url(./assets/images/projects/project12.png) 48% 25%;
}

.projects__project.project_border{
    border:5px solid #F06C64;
}
.about_us{
    background-color: #f2f2f2;
    padding: 59px 40px 48px 40px;
    box-sizing: border-box;
    border-bottom: 6px solid #ffffff;
}

.about_us h2{
    font-size: 3rem;
    font-weight: 900;
    color: #666d89;
    text-transform: capitalize;
    letter-spacing: -0.01rem;
}

.about_us p{
    margin-top: 18px;
    font-size: 1.8rem;
    font-weight: 250;
    text-align: justify;
    line-height: 30px;
    color: #767e9e;
    font-weight: 300;
}

.about_us__designers{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 45px;
}
.designer{
    width: 300px;
}

.designer___photo{
    width: 300px;
    height: 300px;
}

/* .designer___photo.designer1{
    background: url(./assets/images/photos/photo1.png) 0% 0% no-repeat;
}

.designer___photo.designer2{
    background: url(./assets/images/photos/photo2.png) 0% 0% no-repeat;
}

.designer___photo.designer3{
    background: url(./assets/images/photos/photo3.png) 0% 0% no-repeat;
} */

.designer__name h2{
    font-size: 1.8rem;
    line-height: 18px;
    color: #666d89;
    font-weight: 900;
    padding-top: 17px;
    height: 18px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.about_us .designer__description p{
    font-size: 1.2rem;
    line-height: 21px;
    color: #767e9e;
    font-weight: 400;
    margin-top: 0;
    padding-top: 10px;
    text-align: justify;
} 

.designer__icons{
    padding-top: 23px;
    padding-bottom: 15px;
    box-sizing: border-box;
}

.designer__icons span{
    display: inline-block;
    width: 35px;
    height: 35px;
    margin-right: 3px;
}

.designer__icons span:hover{
    cursor: pointer;
}

.facebook{
    background: url(./assets/images/icons/social/fb.svg) no-repeat;
}
.google{
    background: url(./assets/images/icons/social/google.svg) no-repeat;
}
.twitter{
    background: url(./assets/images/icons/social/twit.svg) no-repeat;
}
.linked{
    background: url(./assets/images/icons/social/linked.svg) no-repeat;
}

.quote{
    padding: 60px 40px 13px 40px;
    background-color: #f06c64;
    color: #f0d8d9;
    box-sizing: border-box;
    border-bottom: 6px solid #ea676b;
}

.quote h2{
    font-size: 3rem;
    font-weight: 900;
    letter-spacing: -0.01rem;
    color: #f0d8d9;
}

.quote p{
    margin-top: 17px;
    font-size: 1.8rem;
    font-weight: 250;
    text-align: justify;
    line-height: 3rem;
    color: #f0d8d9;
}

.quote__form{
    display: flex;
    justify-content: space-between;
    padding-top: 44px;
}

.quote__form form{
    width: 620px;
    height: 418px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.quote__form .contact_information{
    width: 300px;
}

.quote__form input, .quote__form textarea{
    background-color: #d6564f;
    box-sizing: border-box;
    border-radius: 5px;
    border: none;
    font-size: 1.2rem;
    font-weight: 400;
    padding-left: 15px;
    color: #f48c8f;
    resize: none;
}

.quote__form input{
    height: 38px;
    line-height: 38px;

}

.quote__form textarea{
    height: 202px;
    padding-top: 11px;
}

.quote__form input::placeholder, .quote__form textarea::placeholder{
    color: #f48c8f;
    font-size: 1.1rem;
    letter-spacing: 0.4px;
    word-spacing: -2px;
}

.quote__form input:focus, .quote__form textarea:focus{
    outline: none;
}

.quote__form input[type="submit"]{
    width: 31%;
    cursor: pointer;
    background-color: #FBC65F;
    color: #886A30;
}
.quote__form input[type="submit"]:hover{
    color: white;
}

.quote__form textarea::placeholder{
    font-family: Lato, sans-serif;
    word-spacing: 1px;
}

.quote__form .contact_information h3{
    color: #f0d8d9;
    font-size: 1.8rem;
    font-weight: 900;
    margin-top: -2px;
    letter-spacing: 0.02px;
}

.quote__form .contact_information p{
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 2.2rem;
    margin-top: 8px;
    text-align: justify;
    word-wrap: break-word;
}

.contact_information__contacts{
    margin-top: 20px;
    font-size: 1.2rem;
    font-weight: 400;
}
.contacts__address{
    margin-bottom: 3px;
    color: #f0d8d9;
    padding-top: 2px;
}

.contacts__address span{
    padding-left: 8px;
    display: inline-block;
}

.icon{
    height: 13px;
    width: 13px; 
    display: inline-block;
}

.icon-point{
    background: url(./assets/images/icons/contacts_location.svg) 50% 90% no-repeat;
}

.icon-phone{
    background: url(./assets/images/icons/contacts_phone.svg) 85% 100% no-repeat;
}
.icon-email{
    background: url(./assets/images/icons/contacts_mail.svg) 10% 130% no-repeat;
}

.footer{
    background-color: #2d303a;
    display: flex;
    justify-content: space-between;
    padding: 21px 40px 22px;
}

.footer__copyright{
    color: #666d89;
    font-size: 1.2rem;
    align-items: center;
    margin-top: 9px;
}

.footer__icons{
    box-sizing: border-box;
}

.footer__icons span{
    display: inline-block;
    width: 35px;
    height: 35px;
    margin-right: 3px;
}

.footer__icons span:last-child{
    margin-right: -2px;
}

.footer__icons span:hover{
    cursor: pointer;
}

#modal{
    display: none;
    position: fixed;
    top: 0;
    z-index: 100;
}

.modal__background{
    background-color: black;
    opacity: 80%;
    width: 100vw;
    height: 100vh;
}

.modal__message{
    font-family: Lato, sans-serif;
    width: 20vw;
    height: 15vw;
    background-color: white;
    position: absolute;
    top: 30%;
    left: 40%;
    font-size: 1.8rem;
    padding: 40px;
}

.modal__message div{
    color: black;
    margin-bottom: 20px;
}

.modal__button{
    color: black;
    padding: 20px;
    background-color: yellow;;
    border: 1px solid black;
    border-radius: 50px;
    text-align: center;
}

.modal__button:hover{
    cursor: pointer;
}

@media only screen and (max-width: 1020px) {
    .wrapper{
      width: 100%;
    }

    .slider{
        height: 58vw;
    }

    .slider__slide1 {
      width: 100%;
      padding-top: 5%;
      padding-left: 11%;

    }

    .slide__phones__left{
        width: 24%;
    }

    .slide__phones__left__phone{
        top: 14%;
        left: 7%;
        height: 72%;
        background-size: 300%;
        width: 87%;
    }

    .slide__phones__left .phone-one{
        width: 100%;
    }

    .slide__phones__left .shadow{
        width: 110%;  
    }

    .slide__phones__right{
        width: 51%;
        margin-left: 9.5%;
        margin-top: 10%;
    }

    .slide__phones__right__phone{
        top: 6.5%;
        left: 13%;
        height: 86%;
        background-size: 161%;
        width: 72%;
    }

    .slide__phones__right .phone-two{
        width: 100%;
    }

    .slide__phones__right .shadow{
        width: 52%;  
        right: 21%;
        top: -54%;
    }

    .slider__slide2{
        width: 100vw;
    }
    .slider__slide2 img{
        width: 100vw;
    }

    .slider__left{
        left: 4%;
    }
    .slider__right{
        right: 4%;
    }

    .services{
        height: 675px;
    }
    
    .service__bullet{
        flex-basis: 47%;
        margin-bottom: 40px;
    }

    .portfolio{
        /* height: 1102px; */
        height: auto;
    }

    .projects{
        /* height: 794px; */
        height: auto;
    }

    .projects__project{
        width: calc((100vw - 136px)/3);
        height: calc((100vw - 136px)/3 * 0.85);
    }

    .designer{
        width: 32%;
    }

    .designer .designer___photo{
        width: 100%;
        height: auto;
    } 
    
    .designer .designer___photo img{
        width: 100%;
    } 
    
    .quote__form form{
        width: 64%;
        height: 373px;
    }

    .quote__form .contact_information{
        width: 32%;
    }

    .quote__form textarea{
        height: 159px;
    }
  }